@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500&display=swap");

/* Variables */
:root {
	--golden: #f97316;
	--golden-light: #fb923c;
	--icon-color: #00c3f9;
	--big-font: 500 1.8rem/2.8rem "Roboto Flex";
	--medium-font: 400 1.6rem/2.4rem "Roboto Flex";
	--small-font: 300 1.4rem/2rem "Roboto Flex";
	--thin-font: 200 1.2rem/1.8rem "Roboto Flex";
	--medium-space: 2rem;
	--small-space: 1rem;
	--thin-space: 0.5rem;
}
:root.light {
	--body-color: #f1f5f9;
	--main-bg-color: #e2e8f0;
	--card-bg-color: rgb(255, 255, 255);
	--heading-color: #0f172a;
	--main-text-color: #64748b;
	--border-color: #f1f5f9;
	--span-color: #334155;
	--card-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
:root.dark {
	--body-color: #334155;
	--main-bg-color: #0f172a;
	--card-bg-color: #1e293b;
	--heading-color: #ffffff;
	--main-text-color: #94a3b8;
	--border-color: #334155;
	--span-color: #cbd5e1;
	--card-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: "Roboto Flex", sans-serif;
	background-color: var(--body-color);
}
.material-icons {
	font-size: 1.8rem;
}
.container {
	max-width: 2592px;
	min-height: 100vh;
	margin: auto;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	display: flex;
	flex-direction: column;
}
.nav {
	font: var(--medium-font);
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	/* display: flex; */
	display: none;
	z-index: 10;
}
.nav-content {
	background-color: var(--card-bg-color);
	width: 30rem;
	display: flex;
	flex-direction: column;
	gap: var(--medium-space);
	padding: var(--medium-space);
}
.library {
	padding-bottom: calc(var(--medium-space) * 2);
}
/* Add spacing between icon and text */
.nav-content > div {
	display: grid;
	grid-template-columns: max-content auto;
	gap: var(--medium-space);
	align-items: center;
	transition: color 0.4s linear;
}
.nav-bg-color {
	background-color: rgba(0, 0, 0, 0.7);
}
.nav-content > div:not(:first-child):hover {
	color: var(--golden-light);
}

/* header styles */
.header {
	font: var(--big-font);
	background-color: var(--card-bg-color);
	color: var(--main-text-color);
	padding: var(--medium-space);
	display: flex;
	align-items: center;
	gap: var(--medium-space);
}
.list-title {
	display: flex;
	font: var(--small-font);
	align-items: center;
	gap: var(--thin-space);
}
.list-title > .author-name {
	font: var(--thin-font);
	opacity: 0.5;
}
.book-count {
	margin-right: auto;
	color: var(--golden-light);
	font: var(--thin-font);
}
.active {
	color: var(--golden);
}

/* ANIMATIONS */
/* Animation classes */
.slide-in {
	animation: slideIn 0.5s linear forwards;
}
.slide-out {
	animation: slideOut 0.5s linear forwards;
}
.fade-in {
	animation: fadeIn 0.5s linear 0.4s forwards;
}
.fade-out {
	animation: fadeOut 0.5s linear 0.4s forwards;
}
.show-nav {
	display: flex;
}

/* animate slide in */
@keyframes slideIn {
	0% {
		transform: translateX(-30rem);
	}
	100% {
		transform: translateX(0);
	}
}
/* animate slide out */
@keyframes slideOut {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-30rem);
	}
}
/* animate fade in */
@keyframes fadeIn {
	0% {
		background-color: rgba(0, 0, 0, 0);
	}
	100% {
		background-color: rgba(0, 0, 0, 0.7);
	}
}
/* animate fade out */
@keyframes fadeOut {
	0% {
		background-color: rgba(0, 0, 0, 0.7);
	}
	100% {
		background-color: rgba(0, 0, 0, 0);
	}
}

/* List styles */
.list {
	flex: 1;
	font: var(--small-font);
	color: var(--main-text-color);
	list-style-type: none;
	padding: var(--small-space);
	display: flex;
	flex-direction: column;
	gap: var(--small-space);
}
.book-list-item-container {
	background-color: var(--card-bg-color);
	padding: var(--small-space);
	min-height: 15rem;
	display: flex;
	gap: var(--medium-space);
	border-radius: 0.5rem;
	box-shadow: var(--card-shadow);
}
.image-container {
	width: 10rem;
	min-height: 100%;
	background-color: #2563eb;
}
.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}
.timeline {
	width: 100%;
}
.point {
	font-size: 1rem;
}
.line {
	position: relative;
	width: 100%;
	height: 0.01rem;
	background-color: var(--main-text-color);
}
.start-page {
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(-0.5rem, -0.5rem);
}
.end-page {
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(0.5rem, -0.5rem);
}
.current-page {
	position: absolute;
	/* left: 6rem;  - To be provided during book rendering */
	top: 0;
	transform: translate(-0.5rem, -0.5rem);
}
.action-icons {
	display: flex;
	gap: var(--medium-space);
	justify-content: end;
}

.author-list-item-container {
	background-color: var(--card-bg-color);
	padding: var(--small-space) var(--medium-space);
	min-height: 3rem;
	display: flex;
	align-items: center;
	gap: var(--medium-space);
}
.author-list-item-container:hover {
	cursor: pointer;
}
.author-name {
	flex: 1;
}

/* Add/Edit styles */
.list-item {
	background-color: var(--card-bg-color);
	padding: var(--small-space);
	display: flex;
	flex-direction: column;
	border-radius: 0.2rem;
}
.list-item-description {
	color: var(--main-text-color);
	opacity: 0.4;
	font: var(--thin-font);
}

.input-modal-container,
.authors-modal-container {
	font: var(--medium-font);
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--medium-space);
	/* display: none; */
}
.input-modal-content,
.authors-modal-content {
	background-color: var(--card-bg-color);
	width: min(500px, 100%);
	padding: var(--medium-space);
	display: flex;
	flex-direction: column;
	gap: var(--medium-space);
	border-radius: 0.2rem;
}
.input-label {
	align-self: center;
}
.input {
	border: none;
	background-color: transparent;
	border-bottom: 1px solid var(--golden);
	color: var(--main-text-color);
	padding-bottom: var(--thin-space);
	caret-color: var(--golden);
}
.input:focus {
	outline: none;
}
.buttons-container {
	display: flex;
	justify-content: end;
	gap: calc(var(--medium-space) * 3);
}

.buttons-container > button {
	background-color: transparent;
	border: none;
	text-align: center;
	text-decoration: none;
	font: var(--small-font);
	color: var(--golden);
}
.buttons-container > .select-author {
	color: var(--main-text-color);
	opacity: 0.4;
}
.authors-label {
	color: var(--main-text-color);
	opacity: 0.6;
	align-self: center;
}
.authors-list > .author-name {
	color: var(--main-text-color);
	border-bottom: 1px solid var(--body-color);
	padding: var(--small-space);
}
.number-of-author-books-in-list {
	font-size: var(--thin-font);
	opacity: 0.5;
}
.restore-book {
	color: var(--golden);
}

/*  */
